<div class="form-wrapper">
    <form role="form" name="frmNews" class="form-horizontal">
    <div class="row">
        <div class= "form-group" ng-class="{error: frmNews.name.$invalid}">
            <label class= "col-md-2"> Title </label>
            <div class="col-md-4">
            <input name="title" ng-model="news.news_title" type= "text" class= "form-control" placeholder="News title" required/>
            <span ng-show="frmNews.title.$dirty && frmNews.title.$invalid" class="help-inline">Title is Required</span>
            </div>
        </div>
        <div class= "form-group">
            <label class= "col-md-2"> Date </label>
            <div class="col-md-4">
            <input name="date" ng-model="news.news_date" type= "date" class= "form-control" placeholder="Enter date" required/>
            <span ng-show="frmNews.date.$dirty && frmNews.date.$invalid" class="help-inline">Date Required</span>
            </div>
        </div>
        <div class= "form-group">
            <label class= "col-md-2">Category</label>
            <div class="col-md-4">
            <select class="form-control" ng-model="news.news_category_id" ng-options="item.category_id as item.category_name for item in news_category"></select>
            
            </div>
        </div>
        <div class= "form-group">
            <label class= "col-md-2">Content </label>
            <div class="col-md-4">
            <textarea class="form-control" ng-model="news.news_content"></textarea>
            </div>
        </div>
        <div class= "form-group">
            <label class= "col-md-2"></label>
            <div class="col-md-4">
            <a href="#/" class="btn btn-default">Cancel</a>
                <button ng-click="saveNews(news);" 
                        class="btn btn-blue">{{buttonText}}</button>
                <button ng-click="deleteNews(news)"
                        ng-show="news._id" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</form>

</div>